## General example
This example covers some of the core functionalities of the toolbox.
### Outline
- Load a test dataset
- Preliminary analysis
 - Show summary
 - Show some plots
- Preprocess data
- Evaluate a classifier
- Show some model selection plots

In [1]:
import sys
sys.path.append("C:\\Users\\aartetxe\\ARKAITZ\\par-toolbox\\partb")
sys.path.append("C:\\Users\\aartetxe\\ARKAITZ\\par-toolbox")

In [28]:
# Dependencies
import pandas as pd
import numpy as np
from utility.preprocessing import PreProcessing

In [11]:
# Allow hot reload of modules
%load_ext autoreload
%autoreload 2
# Show plots within notebook
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
# Load data
df = pd.read_csv('../data/readmission_example.csv', sep=';')
df.head()

,PATIENT ID,HOSP_DATE,DISCHARGE_DATE,DAY_OF_BIRTH,GENDER,SMOKE,LVEF,FIRSTDIAG,NEED_OXYGEN,UREA,CREATININE,SODIUM,POTASSIUM,HEMOGLOBIN,SINUS RHYTHM,ATRIAL FIBRILLATION,PACEMAKER RHYTHM,OUTCOME
0,PATIENT001,22/02/2014,05/03/2014,01/01/1949,female,yes,20,01/01/2014,0,45,0.94,139,5.3,15.3,1,0,0,readmitted
1,PATIENT002,14/03/2014,21/03/2014,01/01/1924,male,no,20,01/01/1980,0,95,1.39,141,4.3,10.2,1,0,0,readmitted
2,PATIENT003,14/05/2014,16/05/2014,01/01/1947,male,yes,40,01/01/2013,0,47,1.01,145,3.06,16.6,1,0,0,not-readmitted
3,PATIENT004,29/03/2014,09/04/2014,01/01/1928,male,no,25,01/01/1996,0,50,1.13,145,2.94,14,0,0,1,readmitted
4,PATIENT005,NaN,NaN,01/01/1949,male,former,60,01/01/2008,0,42,1.33,141,4.3,10.5,0,1,0,not-readmitted

In [45]:
prepro = PreProcessing(df, 'OUTCOME')

prepro.set_los('HOSP_DATE', 'DISCHARGE_DATE')
df.head()

,PATIENT ID,HOSP_DATE,DISCHARGE_DATE,DAY_OF_BIRTH,GENDER,SMOKE,LVEF,FIRSTDIAG,NEED_OXYGEN,UREA,CREATININE,SODIUM,POTASSIUM,HEMOGLOBIN,SINUS RHYTHM,ATRIAL FIBRILLATION,PACEMAKER RHYTHM,OUTCOME,LOS
0,PATIENT001,22/02/2014,05/03/2014,01/01/1949,female,yes,20,01/01/2014,0,45,0.94,139,5.3,15.3,1,0,0,readmitted,11
1,PATIENT002,14/03/2014,21/03/2014,01/01/1924,male,no,20,01/01/1980,0,95,1.39,141,4.3,10.2,1,0,0,readmitted,7
2,PATIENT003,14/05/2014,16/05/2014,01/01/1947,male,yes,40,01/01/2013,0,47,1.01,145,3.06,16.6,1,0,0,not-readmitted,2
3,PATIENT004,29/03/2014,09/04/2014,01/01/1928,male,no,25,01/01/1996,0,50,1.13,145,2.94,14,0,0,1,readmitted,11
4,PATIENT005,NaN,NaN,01/01/1949,male,former,60,01/01/2008,0,42,1.33,141,4.3,10.5,0,1,0,not-readmitted,NaN